
.container
{
    width: 100%;
    height: 100%;
    padding: 30px;
    
    padding-top: 70px;
}
.search{
    width: 86%;
    display: flex;
    height: 30px;
}
.fa{margin-top: 7px;}
.input{
    width: 80%;
    height: 100%;
}
a{
    text-decoration: none;
}
input{
    width: 100%;
    height: 100%;
}
.find{
    width: 8%;
    min-width: 50px;
    text-align: center;
    background-color:  #ececed;
    border: solid 1px rgb(189, 173, 173);
    border-left: none;
    cursor: pointer;
}

.div{
    width: 950px;
}
.video{
    border:solid 1px blue;
    margin-top: 20px;
    width: 950px;
    height: 500px;
    background-color: white
}
video{
    width: 100%;
    height: 100%;
}
.name{
    font-size: 20px;
    margin-top: 20px;
}
.data{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 18px;
}
.LiDi{
    display: flex;
}
.like{
    margin-right: 15px;
}
.like,.dislike{
    cursor: pointer;
}
.delete{
    cursor: pointer;
    position: absolute;
    left: 950px;
    top: 660px;
}

.user{
    display: flex;
    color:black;
}
.img{
    width: 50px;
    height: 50px;
    background-color: aqua;
}
img{
    height: 100%;
    width: 100%;
}
.username{
    margin-top:10px;
    margin-left: 20px;
    width: 200px;
    font-size: 20px;
    color:black;
}
.subscribe, .unsubscribe {
    padding: 5px 20px;
    font-weight: 200;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 53%;
    cursor: pointer;
}
.subscribe
{
    background-color: red;
    color: white;
}
.unsubscribe
{
    background-color:  #ececed;
    color: black;
}
.description{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 15px;
}
.makecomentary
{
    margin-top: 20px;
    display: flex;
}
.line{
    width: 100%;
    height: 3px;
    margin: 15px 10px;
    background-color: #d3d3d6;
}
.textarea{
    margin-left: 50px;
    width: 50%;

}
button
{
    display: block;
    margin: auto 20px;
    font-size: 15px;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button:hover
{
    background-color: rgb(6, 4, 109);
}
.comentaries{
    margin-top: 25px;
    display: flex;
}
.comentary{
    margin-left: 20px;
    width: 100%;
}