<div class="innervideos">
    <div *ngFor='let video of Videos' class='div'>
        <div class="video">
            <a class='photo' [routerLink]="['/watch',video.Id]">
                <img [src]='video.PhotoPath'>
            </a>
        </div>
        <div class="name">
            <a [routerLink]='["/watch",video.Id]'>
                <div class="videoname">{{video.Name}}
                </div>
            </a>
        </div>
        <div class="user">
            <a [routerLink]='["/profile/"+video.UserId+"/myvideo" ]'>
                <div class="username">
                    {{video.User.Name +' '+ video.User.Surname}}
                </div>
            </a>
        </div>
        <div class="views">
            <a [routerLink]='[ "/watch",video.Id ]'>
                <div class='view'>
                    Views: {{video.Views}}<br>
                    Created: {{video.DayofCreation | date}}
                </div>
            </a>
        </div>
    </div>
</div>