<body>
    <div class="BG">

        <div class="Main">
            <div class="back">
                <div class="logotype"><i class="fa fa-user-o fa-5x" aria-hidden="true"></i></div>
                <div class="PR"><label>Password recovery</label></div>
            </div>
            <div id="error" *ngIf="errorMessage != null" class="alter alert-danger">
                {{errorMessage}}
            </div>

            <form #myForm="ngForm">
                <div *ngIf="First">
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input class="form-control" id="Email" name="email" #email="ngModel" ngModel type="text"
                            placeholder="Write email" required
                            pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$">

                        <div [hidden]="email.valid || email.untouched" class="alter alert-danger">
                            <div *ngIf="email.value == ''">
                                Email is neccesary
                            </div>
                            <div *ngIf="email.value != ''">
                                Validation error
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!First">
                    <div class="form-group">
                        <label for="TempPass">Temporary password</label>
                        <input class="form-control" id="TempPass" name="temppas" #temppas="ngModel" ngModel
                            type="number" placeholder="Write temporary password" required>
                        <div [hidden]="temppas.valid || temppas.untouched" class="alter alert-danger">
                            <div *ngIf="temppas.value == ''">
                                Temporary password is neccesary
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input class="form-control" id="Password" name="password" #password="ngModel" ngModel
                            type="password" placeholder="Write password" required minlength="8"
                            pattern="[A-Z]+[a-z||0-9]+[0-9]+">
                        <div [hidden]="password.valid || password.untouched" class="alter alert-danger">
                            <div *ngIf="password.value == ''">
                                Passwords is neccesary
                            </div>
                            <div *ngIf="password.value != ''">
                                Validation error
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PasswordConfirm">Password Confirm</label>
                        <input class="form-control" id="PasswordConfirm" name="passwordconfirm"
                            #confirmPassword="ngModel" ngModel type="password" placeholder="Confirm password" required
                            pattern="[A-Z]+[a-z||0-9]+[0-9]+" minlength="8" minlength="8">
                        <div [hidden]="(confirmPassword.valid || confirmPassword.untouched) && (confirmPassword.value == password.value)"
                            class="alter alert-danger">
                            <div *ngIf="confirmPassword.value == ''">
                                Passwords is neccesary
                            </div>
                            <div *ngIf="confirmPassword.value != password.value; else el">
                                Passwords are not equaled
                            </div>
                            <ng-template #el>
                                <div *ngIf="confirmPassword.value != ''">
                                    Validation error
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </form>

            <div class="button">
                <button *ngIf="First"  [disabled]="myForm.value.email == ''" (click)="RecoverEmail(myForm.value.email)">
                    Recover</button>
                <button *ngIf="!First" [disabled]="myForm.invalid"
                    (click)="RecoverPassword(myForm.value.temppas,myForm.value.password,myForm.value.passwordconfirm)">
                    Recover
                </button>
            </div>
        </div>
    </div>
</body>